// COLORS

$black: #000000;
$dark-gray: #1b1b1b;
$gray: #505050;
$white: #ffffff;
$blue: #00c2ff;
$yellow: #aca140;

.page-footer {
    margin-top: 12rem;
    padding-bottom: 4rem;
    padding-inline: 8rem;
    > div:first-child {
        display: flex;

        > div:first-child {
            display: flex;
            align-items: center;
            width: 40%;
            border-right: 2px solid $yellow;
            a {
                width: 60%;

                img {
                    width: 100%;
                }
            }
        }
        > div:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60%;

            ul {
                padding: 0;
                display: flex;
                list-style: none;
                justify-content: space-evenly;

                &:first-child {
                    margin-bottom: 4rem;
                    li a {
                        color: $white;
                        font-size: 2.4rem;
                        text-transform: uppercase;
                        transition: all 0.2s ease;

                        &:hover {
                            color: $yellow;
                        }
                    }
                }

                &:last-child {
                    li a {
                        color: $yellow;
                        font-size: 5.4rem;
                        transition: all 0.2s ease;

                        &:hover {
                            color: $blue;
                        }
                    }
                }

                li {
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .footer-copyright {
        text-align: center;
        font-size: 2.4rem;
        margin-top: 7rem;
    }
}

@media screen and (max-width: 1024px) {
    .page-footer {
        > div:first-child {
            flex-direction: column;

            > div {
                width: 100% !important;
                border: none !important;

                &:first-child {
                    justify-content: center;
                    align-items: center;
                }

                &:last-child ul {
                    flex-wrap: wrap;

                    li {
                        text-align: center;
                    }
                }
            }
        }
    }
}
