// FONTS

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700&display=swap");

$lexend: "Lexend", sans-serif;

*:not(i) {
    font-family: $lexend;
}

// COLORS

$black: #000000;
$white: #ffffff;
$blue: #00c2ff;
$yellow: #aca140;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: $black;
    color: $white;
}
